/*FONTS*/

@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto-v32-latin-100.woff2') format('woff2'); 
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v32-latin-300.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v32-latin-500.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v32-latin-700.woff2') format('woff2'); 
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v32-latin-900.woff2') format('woff2'); 
}
@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
  }
@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

:root {
    --color-primary-white: #fff;
    --color-primary-light: #2B7FFF;
    --color-primary-dark: #011C44;
    --color-secondary-dark: #4A4A4A;
    --color-secondary-light: #747272;
    --color-secondary-darkblue: #011F4A;
    --color-secondary-yellow: #FFD02B;
}

/*Base*/

body {
    color: var(--color-primary-dark);
    font-family: Roboto , sans-serif;
    font-size: 18px; 
    font-weight: 400;
    line-height: 1.5;
  }

address {
    font-style: normal;
}

ul {
    list-style: none;
}

/* BUTTONS */

.button {
    color: var(--color-primary-white);
    font-weight: 600;
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
    border-radius: 32px;
    cursor: pointer;
}

.button:hover {
    color: var(--color-primary-dark);
    background-color: transparent;
}

/*Links*/

.link {
    color: var(--color-primary-dark);
    text-decoration: none;
}

.link:hover {
    color: var(--color-primary-light);
    font-weight: 700;
}

.logo {
    font-size: 22px;
    font-family: Play, sans-serif;
    font-weight: 700;
    text-transform: capitalize;
}

.logo-link {
    text-decoration: none;
    color: var(--color-primary-light);
}

/*Hero section*/

.hero-title {
    color: var(--color-primary-light);
    font-weight: 700;
    font-size: 140px;
    line-height: 0.8;
    text-align: center;
    text-transform: capitalize;
}

/*Titles*/

.section-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;
    font-family: Play, sans-serif;
}

.section-title .accent {
    color: var(--color-primary-light);
}

/*Become us section*/

.become-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.16;
}

.become-title .accent {
    color: var(--color-primary-light);
    text-transform: capitalize;
}

.become-text .accent {
    text-transform: capitalize;
    font-weight: 700;
}

/*Why us section*/



/*Offers*/

.offer-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.18;
}
/*Find us*/

.find-text {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.17;
}
.find-text .accent {
    color: var(--color-primary-light);
}

/*Footer*/

.address-link {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-primary-white);
    text-decoration: none;
}

.address-copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.17;
}